<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header1}}
    <p>{{screamit welCome}}</p>
    <br>
    {{> footer}}
  </body>
</html>
